@import "../../app.scss";

.hero {
    height: calc(100vh - 13vh);
    // background: linear-gradient(180deg, #0c0c1d, #000000);
    // background: linear-gradient(180deg, #000000, #111132);
    // background: linear-gradient(180deg, #0c0c1d, #0c0c1d);
    background: linear-gradient(180deg, #0c0c1d, #111132);
    overflow: hidden;
    position: relative;

    // @include mobile{
    //     height: 100%;
    // }


    .wrapper {
        height: 100%;
        max-width: 1250px;
        margin: auto;
        // display: flex;
        // align-items: center;
        // justify-content: space-between;

        .textContainer {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // gap: 40px;

            @include mobile{
                margin-top: 30px;
                height: 80%;
                width: 100%;
                padding: 10px;
                // gap: 20px;
                // align-items: center;
                // text-align: left;
            }


            h2 {
                font-size: 30px;
                // font-weight: bold;
                // color: rebeccapurple;
                // letter-spacing: 8px;
            }

            h3 {
                font-size: 20px;
                gap: 10px;
                color: grey !important;
                // font-weight: bold;
                // color: rebeccapurple;
                // letter-spacing: 8px;
            }

            h1 {
                font-size: 88px;
                // padding: 20px;
                color: rebeccapurple;
                text-align: left;
                padding-top: 12px;;
                padding-bottom: 12px;

                @include mobile{
                    font-size: 36px;
                }
            }

            .buttons {
                button {
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    margin-right: 20px;
                    cursor: pointer;
                    font-weight: 300;
                }
            }


            img {
                width: 50px;
                overflow: hidden;
                padding-top: 28px;
            }
        }
    }


    .imageContainer {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;

        @include mobile{
            height: 50%;
            width: 100%;
            top:unset;
            bottom:0;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .slidingTextContainer {
        position: absolute;
        font-size: 24vh;
        // bottom: -120px;
        top: calc(100% - 30vh);
        white-space: nowrap;
        color: #ffffff09;
        width: 140%;
        font-weight: bold;
    }
}