@import "../../app.scss";


.contact {
  height: 100%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  @include mobile{
      flex-direction: column;
      width: 100%;
      padding: 10px;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    .item {


      @include mobile{
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    }

    @include mobile{
        gap: 10px;
        text-align: center;
        // align-items: center;
        // margin-top: 70px;
        transform: none !important;
        padding-top: 50px;


    }

    h1 {
      font-size: 100px;
      line-height: 88px;

      @include mobile{
          font-size: 2em;      
        }
    }
  }

  .formContainer {
    flex: 1;
    position: relative;
    width: 100%;

    @include mobile{
        width: 100%;
        padding: 5px;
        transform: none !important;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input, textarea {
        padding: 20px;
        background-color: transparent;
        border: 3px solid gray;
        color: white;
        border-radius: 5px;

        @include mobile{
            padding: 10px;
        }
      }

      button {
        padding: 20px;
        border: none;
        background-color: orange;
        cursor: pointer;
        font-weight: 500;

        @include mobile{
            padding: 10px;
        }
      }
    }

    .emailSvg {
        stroke: white;
        position: absolute;
        margin: auto;
        z-index: -1;
        height: 450px;
        width: 450px;

        @include mobile{
            // width: 200px !important;
            // height: 200px !important;
            display: none;
      }
    }
  }
}
